html,
body {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

nav li.nav-item a:hover {
    color: #D6FFB2;
}

#wrapper {
    height: 100%;
    width: 100%;
    display: table;
    overflow: hidden;
}

#newUser {
    background-image: url('https://raw.githubusercontent.com/GastonCorredoira/ToDoApp/master/img/logInPattern.png');
    background-size: cover;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    object-fit: contain;
}

#contenedor {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
}

#listedSong {
    text-decoration: none;
    color: black;
}

.selectForm:focus {
    border-color: #D6FFB2;
    box-shadow: 0 0 1px #D6FFB2;

}

#logInInput {
    border-top-style: hidden !important;
}

#divContent {
    margin: 0 auto;
    border: none;
}

.yellow {
    text-decoration: none;
    color: #D6FFB2;
    font-weight: bold;
}

.yellow:hover {
    color: #D6FFB2;
}

#bootstrap-overrides .form-control {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-radius: 0;
}

#bootstrap-overrides input:focus {
    border-color: #D6FFB2;
    box-shadow: 0 0 1px #D6FFB2;
}

#btn-green {
    background-color: #D6FFB2 !important;
    color: #D6FFB2;
}

#signUpBtn {
    border: 3px solid #D6FFB2;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

#signUpBtn:hover {
    transition-duration: 1s;
    background-color: #D6FFB2;
}

#searchBtn {
    color: black;
    background-color: #D6FFB2;
    border: 1px solid #a4c488;
    padding: 7px;
    border-radius: 5px;
}

#card-flex {
    display: flex;
    flex-direction: row;
}

.optionButton {
    margin-right:15px;
    margin-top: 15px;
}

.hidden {
    text-decoration: none;
    color: black;
    background-color: transparent;
    border: none;
}

.hidden:hover {
    color: black;
}

.leftSide {
    background-color: blue;
    height: 100vh;
}

.rightSide {
    background-color: red;
}